{% extends 'base.html.twig' %}

{% block title %}Category form{% endblock %}

{% block body %}
    {{ parent() }}

    <h3 class="mb-3">Create a new category</h3>

    {{ form_start(form, {'action': path(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')), 'method': 'POST'}) }}
    <div class="w-50">
        {{ form_row(form.name) }}

        <div class="mt-4">
            {{ form_row(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
