{% extends 'base.html.twig' %}

{% block title %}Card list{% endblock %}

{% block body %}
    <h3 class="mb-3">List of cards</h3>

    {% if entities is empty %}
        <h5>This list is empty.</h5>
    {% else %}
        <div class="row">
            {% for entity in entities %}
                <div class="col-3 p-2">
                    <div class="card bg-light">
                        <div class="p-3">
                            <div class="img"
                                 style="background-image: url({{ asset('uploads/cards/' ~ entity.image) }});"></div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ entity.name }}
                                {% if entity.category %}
                                    <small>
                                        ({{ entity.category.name }})
                                    </small>
                                {% endif %}
                            </h5>

                            <div class="b-0">
                                <div class="text-center">
                                    {% for capacity in entity.specialCapacities %}
                                        <div class="badge badge-dark">{{ capacity.name }}</div>
                                    {% endfor %}
                                </div>

                                <div class="grid-3 mt-2">
                                    <div class="card-info bg-success">
                                        <p>{{ entity.health }}</p>
                                    </div>

                                    <div class="card-info bg-warning">
                                        <p>{{ entity.attack }}</p>
                                    </div>

                                    <div class="card-info bg-secondary">
                                        <p>{{ entity.cost }}</p>
                                    </div>
                                </div>

                                <div class="grid-3 text-center">
                                    <p class="card-info-desc">Health</p>
                                    <p class="card-info-desc">Attack</p>
                                    <p class="card-info-desc">Cost</p>
                                </div>

                                <div class="text-center mb-3">
                                    <a href="{{ path('card_update', {'id': entity.id}) }}"
                                       class="btn btn-info btnAction">Update</a>
                                    <a href="{{ path('card_delete', {'id': entity.id}) }}"
                                       class="btn btn-danger btnDelete">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
